footer{
    background-color: #40474e;
    color:white;
    padding: 2rem 0 2rem;
    margin-top: -1rem;
  }
  
  footer img{
    height: 4rem;
    margin: 1.5rem 0;
  }
  footer a{
    color: white;
  }
  footer p{
    text-align: center;
  }
  footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
  }
  footer svg.svg-inline--fa:hover{
    color: #2F74B5!important;
  }
  hr.socket{
    width: 100%;
    border-top: .2rem solid #676b71;
    margin-top: 3rem;
  }