@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

p {
  text-align: left;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--Navigation --*/
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img{
  height: 3rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #2F74B5;
}


/*---Landing Page ---*/
.home-inner {
  background-image: url(img/Tommy.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8 rem;
  font-weight:  700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem 1rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

/*--- Icons --*/
svg.svg-inline--fa{
  color: #2F74B5
}

/*--- About Me --*/
.narrow{
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;

}
.narrow h1{
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius:0; 
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color:  #2F74B5;
  border:  #2F74B5;
}

.hackster {
  color:  #2F74B5;
}

.btn-secondary:hover {
  background-color:#1B4368;
  border: #1B4368;
}

/*--- Projects ---*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #2F74B5;
  margin: 0 auto 2rem;

}


.project h3{
  font-size: 1.3rem;
  /*text-transform: uppercase;*/
  padding-bottom: .4rem;
}

.project p{
  font-size: 1.1rem;
}



/*--- Portfolio Section--- */
.fixed{
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.fixed-background h3 {
  margin-bottom: 2 rem;
}

.fixed-background p{
  margin-top: 1.5rem;
}
.fixed-background i{
  padding-top: 1rem;
 
}

.fixed-background svg.svg-inline--fa{
  color: white;
}


.academic{
  background-image: url(img/projects/microcontroller.jpg);
}

/*--- EcoCAR ---*/
.ecocar{
  background-image: url(img/ecocar/fun_team_pic_with_car.jpg);
}

.ecocar i{
  margin-top: 0.5;
}

.showcase img {
  background: 50% 50%;
  border-radius: 25%;
  width: 100%;
  transition: transform .2s;
  bottom: .1rem;
}

.showcase:hover img {
  /*transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
  position: relative;*/
}

/*--- Reds Section--- */
.reds img{
  width: 100%;
  border-radius: 50%;
}
blockquote svg.svg-inline--fa{
  color: #2F74B5;
  margin: .2rem;
}
.reds-hr {
  border-top: .05rem solid  #2F74B5;
}

.reds blockquote {
  text-align: left;
}


.sing{
  background-image: url(img/singing.jpg);
}

/*--- Miscellaenous Section--- */
.misc img{
  width: 100%;
  border-radius: 20%;
}
.misc a{
  color: #2F74B5;
}

.matrix i{
  padding: 2rem 0 0;
}

.matrix p{
  text-align: center;
  padding-bottom: 2rem;
  margin: -1rem 1 2rem;
}

/*--- Contact Section--- */
footer{
  background-color: #40474e;
  color:white;
  padding: 2rem 0 2rem;
  margin-top: -1rem;
}

footer img{
  height: 4rem;
  margin: 1.5rem 0;
}
footer a{
  color: white;
}
footer p{
  text-align: center;
}
footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover{
  color: #2F74B5!important;
}
hr.socket{
  width: 100%;
  border-top: .2rem solid #676b71;
  margin-top: 3rem;
}

/*--- Media Queries ---*/
@media (max-width: 767px){
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1{
    font-size: 1.8rem;
  }

  .reds img{
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

}


/*--- 404 Page ---*/
#notfound body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('../img/404 bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
          box-shadow: 0px 4px 15px -5px #0046d5;
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 142px;
    }
    .notfound .notfound-404 h1 {
      font-size: 112px;
    }
}




/*============= COURSE SECTION =============*/

/*
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

*/

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
